body {
  background: rgb(255,0,0);
  text-align: center;
  background: linear-gradient(119deg, rgba(255,0,0,1) 0%, rgba(121,9,9,1) 20%, rgba(0,0,0,1) 50%, rgba(121,9,9,1) 80%, rgba(255,0,0,1) 100%);
  margin:0%;
}
#heading {
  display: grid;
  background-color: #5b84B1FF;
  padding: 10px;
  text-align: center;
  height: 6%;
  font-size: 15px;
  font-weight: bold;
  margin: 0%;
  position: absolute;
  width: 98.55%;
  grid-gap:10px;
}
.title {
  background-color: #FC766AFF;
}
.topright {
  position: absolute;
  top: -7px;
  right: 16px;
  color: gold;
}
#error {
  position: absolute;
  top: 45%;
  right: 45%;
  text-align: center;
  font-size: 50px;
  z-index: 1;
  color: red;
}
#openPanel {
  position: absolute;
  top:95%;
  left:92%;
}
.panel {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.panel-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
}
.panel-header {
  padding: 2px 16px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  color: white;
}
.panel-body {padding: 0px 16px;}
.admin {
  display: none;
}